@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.jersey-10-medium {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: medium;
}

.jersey-10-medium-bold {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: medium;
}

.jersey-10-medium-italic {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: medium;
}

.jersey-10-medium-bold-italic {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: medium;
}

.jersey-10-medium-light {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: medium;
}

.jersey-10-medium-light-italic {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: medium;
}

.jersey-10-medium-bold-light {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: medium;
}

.jersey-10-large {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}

.jersey-10-large-bold {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: large;
}

.jersey-10-large-italic {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: large;
}

.jersey-10-large-bold-italic {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: large;
}

.jersey-10-large-light {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: large;
}

.jersey-10-large-light-italic {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: large;
}

.jersey-10-large-bold-light {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: large;
}
